.search-bar {
  min-width: 18% !important;
  background: #e0e0e0;
  border: none;
  padding: 6px 0px 6px 16px;
  margin-top: 10px;
  outline: none;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  margin-left: 12em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &:hover {
    background-color: white;
  }
}

.search-icon.fa.fa-search {
  background: #e0e0e0;
  outline: none;
  color: #a5a5a5;
  border: none;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  position: absolute;
  padding: 10px 9px;
  margin-left: 0px;
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: #241746;
  }
}
